includes:
    - ../vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ../vendor/phpstan/phpstan-phpunit/extension.neon
    - ../vendor/phpstan/phpstan-phpunit/rules.neon
    - phpstan-baseline.neon

parameters:
    level: 10
    # Stricter than defaults: do not widen trusted PHPDoc types when inferring.
    treatPhpDocTypesAsCertain: false
    paths:
        - ../src
        - ../tests
        - ../bootstrap-alias.php
